@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: radial-gradient(circle at top right, #4f46e5, #7c3aed);
  min-height: 100vh;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
